h1 {
  color: white;
  background-color: black;
  max-width: 100%;
  font-size: 40px;
  font-family: san-serif;
  

  
 
}
body{
	margin:0px;
	padding:0px;
	max-width: 100% ;
	background-color:black  ;
	color:black;
	border: 1px solid
}
 h2{
  font-size: 65px ;
  color:white;
 
 }
div{
      width: 480px;
      height: 480px;
      background: black;
	  position: absolute;
	  top: 35%;
      left: 15%;
	  border-radius: 30px 30px 30px 30px;
	  border: 1px solid
	  
	  

    }
#rettangolo1 { 
      width: 480px;
      height: 480px;
      background: black;
	  position: absolute;
	  top: 35%;
      left: 47%;
	  border-radius: 30px 30px 30px 30px;
		
	}
	#rettangolo2 {
	width: 480px;
      height: 480px;
      background: black;
	  position: absolute;
	  top: 103%;
      left: 47%;
	  border-radius: 30px 30px 30px 30px;
	}
	#rettangolo3{
		width: 480px;
      height: 480px;
      background: black;
	  position: absolute;
	  top: 103%;
      left: 15%;
	  border-radius: 30px 30px 30px 30px;
	}
	#rettangolo4{
		width: 480px;
      height: 480px;
      background: black;
	  position: absolute;
	  top: 170%;
      left: 20%;
	  border-radius: 30px 30px 30px 30px;
	}
	#rettangolo5 {
			width: 480px;
      height: 480px;
      background: black;
	  position: absolute;
	  top: 170%;
      left: 52%;
	  border-radius: 30px 30px 30px 30px;
	}
	#rettangolo6{
		 		width: 990px;
      height: 500px;
      background: black;
	  position: absolute;
	  top: 238%;
      left: 20%;
	  border-radius: 30px 30px 30px 30px;
	}
 #testo {
	background-color:white;
	top:100px;
	left:100px;
	
      }
img {
		
	   border-radius: 30px 30px 30px 30px;
	
	
	  }
	 
	
