header {
	text-align: center;
}

header button {
	background-color: black;
	color: #ffffff;
	border: 1px solid;
}

body {
	margin:0px;
	padding:0px;
	max-width: 100%;
	background-color: #000000;
	color: #ffffff;
}

div {
	text-align: center;
}

.dispositivo {
	border-radius: 30px 30px 30px 30px;
	border: 1px solid;
	margin: 10px;
}